.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: default;
}

.label {
  margin-bottom: 6px;
}

.hint {
  margin-top: 4px;
}

.input {
  padding: 12px 8px 12px 12px;
  border-radius: 8px;
  background-color: var(--color-background-primary);
  border: 1px solid var(--color-border-light);

  &::placeholder {
    color: var(--color-text-tertiary);
  }

  &:hover {
    border: 1px solid var(--color-border-medium);
  }

  &:focus {
    outline: 2px solid var(--color-indicator-focused);
    outline-offset: -1px;
  }

  &:disabled {
    background-color: var(--color-background-disabled);
    border: 1px solid var(--color-border-light);
    outline: none;
  }

  &.error {
    outline: 2px solid var(--color-indicator-error);
    outline-offset: -1px;
  }
}
